@import url('https://fonts.cdnfonts.com/css/zai-seagull-felt-tip-pen');
html, body{
    margin: 0;
    padding: 0;
}

.main-container{
    position: absolute;
    width: 400px;
    height: 750px;
    left: calc(50% - 200px);
    top: calc(50% - 400px);
}

.main-container img{
    width: 300px;
    height: 300px;
    margin-left: calc(50% - 150px);
    margin-top: 50px;
}
.main-container h1{
    text-align: center;
    font-family: 'zai Seagull Felt-tip Pen', sans-serif;
    font-size: 60px;
    margin-top: 0;
}
.main-container a{
    background: #f0f0f0;
    display: block;
    width: 300px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: calc(50% - 150px);
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: 'zai Seagull Felt-tip Pen', sans-serif;
    font-size: 40px;
    border-radius: 20px;
}

@media only screen and (max-height : 750px) {
    .main-container{
        height: 100%;
        top: 0;
    }
    .main-container img{
        height: 250px;
        width: 250px;
        margin-top: 80px;
        margin-left: calc(50% - 125px);
    }
    .main-container h1{
        font-size: 50px;
    }
    .main-container a{
        height: 50px;
        font-size: 35px;
        width: 250px;
        margin-left: calc(50% - 125px);
    }
}

@media only screen and (max-width : 400px) {
    .main-container{
        width: 100%;
        left: 0;
    }
}