<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="static/js/board-page.js"></script>
    <link rel="stylesheet" href="static/css/common.css" media="all" />
    <link rel="stylesheet" type="text/css" href="static/css/board-page.css" />
    <link
      rel="icon"
      type="image/png"
      href="/static/icon/app-icon.png"
    />
    <!-- Markdown -->
    <script src="https://cdn.jsdelivr.net/npm/marked@1.1.0/marked.min.js" integrity="sha256-GGbzkRkTtLnv3bOg61WAnkjYHxtsiVqu+tjMj6ssDVw=" crossorigin="anonymous"></script>
    
    <!-- LATEK -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js"></script>
    <title>Board | kahiin</title>
  </head>
  <body id="body">
    <div id="form">
      <input type="password" id="passcode" placeholder="passcode" onchange="submitPasscode()" />
      <p id="error"></p>
      <button id="submit" onclick="submitPasscode()">${glossary["Submit"]}</button>
    </div>
    <div id="list">
      <h1>${glossary["PlayerList"]}</h1>
      <ul id="users"></ul>
    </div>
    <h1 id="question"></h1>
    <h2 id="question_number"></h2>
    <span id="loader" style="display: none"></span>
    <p id="loader-text">${glossary["WaitingForHost"]}</p>
    <div id="answers_div"></div>
    <div class="container">
      <div id="timerbar" class="progressbar-wrapper">
        <div id="timer" class="progressbar"></div>
      </div>
    </div>
    <div id="leaderboard-container">
      <div id="leaderboard_top">
        <h1>Top 5</h1>
        <ul id="leaderboard-top-items"></ul>
      </div>
      <div id="promoted-list">
        <h1>${glossary["WonPlaces"]}</h1>
        <ul id="promoted-list-items"></ul>
      </div>
    </div>
    <div class="container podium", id="podium"></div>
  </body>
  <script onload="true">
    Display();
  </script>
</html>