<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="static/js/home-page.js"></script>
    <script>Game()</script>
    <title>Homepage</title>
    <link rel="stylesheet" href="static/css/common.css" media="all" />
    <link rel="stylesheet" href="static/css/home-page.css" media="all" />
    <link
      rel="icon"
      type="image/png"
      href="/static/icon/app-icon-rounded.png"
    />
  </head>
  <body>
    <div id="form">
      <input type="text" id="Username" />
      <button id="Submit" onclick="Submit()">Submit</button>
    </div>
    <span id="loader" style="display: none"></span>
    <p id="loader-text">Waiting for the host...</p>
    <div id="buttons">
      <button type="button" onclick="sendAnswer('a')">A</button>
      <button type="button" onclick="sendAnswer('b')">B</button>
      <button type="button" onclick="sendAnswer('c')">C</button>
      <button type="button" onclick="sendAnswer('d')">D</button>
    </div>
  </body>
</html>
