<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="static/homepage.js"></script>
    <script></script>
    <title>Homepage</title>
    <link rel="stylesheet" href="static/homepage.css" media="all" />
    <link rel="icon" type="image/png" href="/static/app-icon-rounded.png" />
  </head>
  <body>
    <div id="form">
      <input type="text" id="Username" />
      <button id="Submit" onclick="Submit()">Submit</button>
    </div>
    <span id="loader"></span>
    <!-- Buttons to answer questions -->
  </body>
  <script>
    document.getElementById("loader").style.display = "none";
  </script>
</html>
