<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="static/js/home-page.js"></script>
    <script>Game()</script>
    <title>Homepage</title>
    <link rel="stylesheet" href="static/css/common.css" media="all" />
    <link rel="stylesheet" href="static/css/home-page.css" media="all" />
    <link
      rel="icon"
      type="image/png"
      href="/static/icon/app-icon-rounded.png"
    />
  </head>
  <body>
    <div id="form">
      <input type="text" id="username" placeholder="username" />
      <p id="error">incorrect password</p>
      <button id="submit" onclick="Submit()">Submit</button>
    </div>
    <span id="loader" style="display: none"></span>
    <p id="loader-text">Waiting for the host...</p>
    <div id="buttons">
      <button id="button_0" onclick="sendAnswer('a')" class="b1">A</button>
      <button id="button_1" onclick="sendAnswer('b')" class="b2">B</button>
      <button id="button_2" onclick="sendAnswer('c')" class="b3">C</button>
      <button id="button_3" onclick="sendAnswer('d')" class="b4">D</button>
    </div>
    <button id="send_button" onclick="sendMQC()" style="display: None;">Envoyer</button>
  </body>
</html>
