<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Host | kahiin</title>
    <link rel="stylesheet" href="static/css/common.css" media="all" />
    <link rel="stylesheet" type="text/css" href="static/css/host-page.css" />
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="static/js/host-page.js"></script>
    <link
      rel="icon"
      type="image/png"
      href="/static/icon/app-icon.png"
    />
  </head>
  <body>
    <div id="form">
      <input type="password" id="passcode" placeholder="passcode" onchange="submitPasscode()" />
      <p id="error"></p>
      <button id="submit" onclick="submitPasscode()">Submit</button>
    </div>
    <nav id="nav">
      <div class="header"></div>
      <button id="nav_button_0" style="top: 160px;" onclick="navigate(0);">
        <img src="static/icon/play.svg">
        Play
      </button>
      <button id="nav_button_1" style="top: 250px;" onclick="navigate(1);">
        <img src="static/icon/create.svg">
        Create
      </button>
      <button id="nav_button_2" style="top: 340px;" onclick="navigate(2);">
        <img src="static/icon/database.svg">
        Kahiin DB
      </button>
      <button id="nav_button_3" style="top: 430px;" onclick="navigate(3);">
        <img src="static/icon/settings.svg">
        Settings
      </button>
      <button id="nav_button_4" style="bottom: 10px;" onclick="navigate(4);">
        <img src="static/icon/account.svg">
        Account
      </button>
    </nav>
    <div id="nav_content">

    </div>
    <!-- <div class="in-game-div">
      <button id="start_game" style="display: none" onclick="startSession()">
        Demarrer le jeu
      </button>
      <button id="next_question" style="display: none" onclick="nextQuestion()">
        Prochaine question
      </button>
      <button id="show_leaderboard" style="display: none" onclick="showLeaderboard()">
        Afficher le classement
      </button>
    </div> -->
  </body>
</html>
