<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Host | kahiin</title>
    <link rel="stylesheet" href="static/css/common.css" media="all" />
    <link rel="stylesheet" type="text/css" href="static/css/host-page.css" />
    <script src="/static/js/kahiin-db.js"></script>
    <script src="/static/js/Socket/socket.js"></script>
    <script src="/static/js/CryptoJs/crypto-js.min.js"></script>
    <script src="static/js/host-page.js"></script>
    <link
      rel="icon"
      type="image/png"
      href="/static/icon/app-icon.png"
    />
  </head>
  <body id="body">

    <!-- Passcode -->
    <div id="form">
      <input type="password" id="passcode" placeholder="passcode" onchange="submitPasscode()" />
      <p id="error"></p>
      <button id="submit" onclick="submitPasscode()">{{glossary["Submit"]}}</button>
    </div>

    <!-- Navigation -->
    <nav id="nav">
      <div class="header"></div>
      <button id="nav_button_0" style="top: 160px;" onclick="navigate(0);">
        <img src="static/icon/play.svg">
        {{glossary["Play"]}}
      </button>
      <button id="nav_button_1" style="top: 250px;" onclick="navigate(1);">
        <img src="static/icon/create.svg">
        {{glossary["Create"]}}
      </button>
      <button id="nav_button_2" style="top: 340px;" onclick="navigate(2);">
        <img src="static/icon/database.svg">
        Kahiin DB
      </button>
      <button id="nav_button_3" style="top: 430px;" onclick="navigate(3);">
        <img src="static/icon/settings.svg">
        {{glossary["Settings"]}}
      </button>
      <button id="nav_button_4" style="bottom: 10px;" onclick="navigate(4);">
        <img src="static/icon/account.svg">
        {{glossary["Account"]}}
      </button>
    </nav>

    <!-- Play -->
    <div id="play_div" style="display: none;" class="nav_content">
      <h1>{{glossary["Play"]}}</h1>
      <h2>{{glossary["Party"]}}</h2>
      <button id="start_game" onclick="startSession()">
        {{glossary["StartGame"]}}
      </button>
      <button id="pass_question" style="display: none;" onclick="passQuestion()">
        {{glossary["PassQuestion"]}}
      </button>
      <button id="pause_question" style="display: none;" onclick="pauseQuestion()">
        {{glossary["PauseQuestion"]}}
      </button>
      <button id="next_question" style="display: none;" disabled="true" onclick="nextQuestion()">
        {{glossary["NextQuestion"]}}
      </button>
      <button id="show_leaderboard" style="display: none;" disabled="true" onclick="showLeaderboard()">
        {{glossary["ShowLeaderboard"]}}
      </button>
      <p id="start_game_will_remove_data" style="margin-left: 50px; color: gray;display: none;">{{glossary["StartGameWillRemoveData"]}}</p>
      <button id="get_spreadsheet" style="display: none;" onclick="getSpreadsheet()">
        {{glossary["GetSpreadsheet"]}}
      </button>
      <h2>{{glossary["AdminSpace"]}}</h2>
      <input type="text" id="kick_player_name" placeholder='' />
      <button id="kick_player_button" onclick="kickPlayer()">
        {{glossary["KickPlayer"]}}
      </button>
      <h2>{{glossary["Select"]}}</h2>
      <input type="search" id="search_select_questionary" placeholder="search" onkeyup="search('select')">
      <ul id="questionary_select_list"></ul>
    </div>

    <!-- Create -->
    <div id="create_div" class="nav_content" style="display: none;">
      <h1>{{glossary["Create"]}}</h1>
      <button id="create_questionary" onclick="createQuestionary()">{{glossary["CreateNewQuestionary"]}}</button>
      <h2>{{glossary["Edit"]}}</h2>
      <input type="search" id="search_edit_questionary" placeholder="search" onkeyup="search('edit')">
      <ul id="questionary_edit_list"></ul>
    </div>

    <!-- Edit -->
    <div id="edit_div" class="nav_content" style="display: none;">
      <h1>{{glossary["Edit"]}}</h1>
      <input type="text" id="edit_questionary_name" placeholder="Questionary Name" onchange="editQuestionaryName(this.value)">
      <h2>{{glossary["Questions"]}}</h2>
      <table class="questions_div">
        <colgroup>
          <col style="width: 70%;">
          <col style="width: 30%;">
        </colgroup>
        <tr>
          <th>
            <div id="questions_list">
              
            </div>
          </th>
          <th>
            <div id="questions_drawer">
              <div class="draggable-item" draggable="true">Item 1</div>
              <div class="draggable-item" draggable="true">Item 2</div>
              <div class="draggable-item" draggable="true">Item 3</div>
              <div class="draggable-item" draggable="true">Item 4</div>
            </div>
          </th>
        </tr>
      </table> 
      <button class="delete_quiz_button" onclick="deleteQuestionary()">{{glossary["DeleteQuestionnaire"]}}</button>
    </div>

    <!-- Settings -->
    <div id="settings_div" class="nav_content" style="display: none;" >
      <h1>{{glossary["Settings"]}}</h1>
      <h2>{{glossary["Language"]}}</h2>
      <select id="language" onchange=changeLanguage()>
        <option value="en">🇬🇧 English</option>
        <option value="fr">🇫🇷 Français</option>
        <option value="es">🇪🇸 Español</option>
        <option value="it">🇮🇹 Italiano</option>
        <option value="de">🇩🇪 Deutsch</option>
      </select>
      <p style="margin-left: 50px; color: gray;">{{glossary["ChangeLanguageWillRefresh"]}}</p>
      <h2>{{glossary["DyslexicMode"]}}</h2>
      <button class={{"on" if settings["dyslexicMode"] else "off"}} id='dyslexicModeButton' onclick="editSettingsButton('dyslexicMode')">{{"ON" if settings["dyslexicMode"] else "OFF"}}</button>
      <h2>{{glossary["RandomOrder"]}}</h2>
      <button class={{"on" if settings["randomOrder"] else "off"}} id='randomOrderButton' onclick="editSettingsButton('randomOrder')">{{"ON" if settings["randomOrder"] else "OFF"}}</button>
      <h2>{{glossary["EndOnAllAnswered"]}}</h2>
      <button class={{"on" if settings["endOnAllAnswered"] else "off"}} id='endOnAllAnsweredButton' onclick="editSettingsButton('endOnAllAnswered')">{{"ON" if settings["endOnAllAnswered"] else "OFF"}}</button>
      <h2>{{glossary["AdminPassword"]}}</h2>
      <input type="password" id="new_password" placeholder="New Password">
      <input type="password" id="repeat_new_password" placeholder="Repeat New Password">
      <button class="apply-button" onclick="applyNewPassword()">{{glossary["Apply"]}}</button>
      <div style="height: 50px"></div>
    </div>
    <script src="static/js/host-page-drag-and-drop.js"></script>
  </body>
</html>
