<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Host Page</title>
    <script src="/static/js/kahiin-db.js"></script>
    <script src="/static/js/Socket/socket.js"></script>
    <script src="/static/js/CryptoJs/crypto-js.min.js"></script>

    <!-- Highlight.js -->
    <link rel="stylesheet" href="static/css/Highlight/default.min.css">
    <script src="static/js/Highlight/highlight.min.js"></script>

    <!-- Markdown -->
    <script src="/static/js/Marked/marked.min.js" crossorigin="anonymous"></script>

    <!-- KaTeX -->
    <link rel="stylesheet" href="/static/css/KaTeX/katex.min.css" />
    <script src="/static/js/KaTeX/katex.min.js"></script>
    <script src="/static/js/KaTeX/auto-render.min.js"></script>

    <!-- Quill -->
    <link href="/static/css/Quill/quill.snow.css" rel="stylesheet">
    <script src="/static/js/Quill/quill.js"></script>
    <!-- Turndown -->
    <script src="/static/js/Turndown/turndown.js"></script>    

    <link rel="stylesheet" href="static/css/common.css" media="all" />
    <link rel="stylesheet" type="text/css" href="static/css/host-page.css" />
    <link rel="icon" type="image/png" href="/static/icon/app-icon.png" />
  </head>
  <body id="body">

    <!-- Passcode -->
    <div id="form">
      <input type="password" id="passcode" placeholder="passcode" onchange="submitPasscode()" />
      <p id="error"></p>
      <button id="submit" onclick="submitPasscode()">{{glossary["Submit"]}}</button>
    </div>

    <!-- Error -->
    <div id="error_div" style="opacity: 0" class="nav_content">
    </div>

    <!-- Navigation -->
    <nav id="nav">
      <div class="header"></div>
      <button id="nav_button_0" style="top: 160px;" onclick="navigate(0);">
        <img src="static/icon/play.svg">
        {{glossary["Play"]}}
      </button>
      <button id="nav_button_1" style="top: 250px;" onclick="navigate(1);">
        <img src="static/icon/create.svg">
        {{glossary["Create"]}}
      </button>
      <button id="nav_button_2" style="top: 340px;" onclick="navigate(2);">
        <img src="static/icon/database.svg">
        Kahiin DB
      </button>
      <button id="nav_button_3" style="top: 430px;" onclick="navigate(3);">
        <img src="static/icon/settings.svg">
        {{glossary["Settings"]}}
      </button>
      <button id="nav_button_4" style="bottom: 10px;" onclick="navigate(4);">
        <img src="static/icon/account.svg">
        {{glossary["Account"]}}
      </button>
    </nav>

    <!-- Play -->
    <div id="play_div" style="display: none;" class="nav_content">
      <h1>{{glossary["Play"]}}</h1>
      <h2>{{glossary["Party"]}}</h2>
      <h3 id="question_number" style="display: none;"></h3>
      <button id="start_game" onclick="startSession()">
        {{glossary["StartGame"]}}
      </button>
      <button id="pass_question" style="display: none;" onclick="passQuestion()">
        {{glossary["PassQuestion"]}}
      </button>
      <button id="pause_question" style="display: none;" onclick="pauseQuestion()">{{glossary["PauseQuestion"]}}</button>
      <button id="next_question" style="display: none;" disabled="true" onclick="nextQuestion()">
        {{glossary["NextQuestion"]}}
      </button>
      <button id="show_leaderboard" style="display: none;" disabled="true" onclick="showLeaderboard()">
        {{glossary["ShowLeaderboard"]}}
      </button>
      <p id="start_game_will_remove_data" style="margin-left: 50px; color: gray;display: none;">{{glossary["StartGameWillRemoveData"]}}</p>
      <button id="get_spreadsheet" style="display: none;" onclick="getSpreadsheet()">
        {{glossary["GetSpreadsheet"]}}
      </button>
      <h2>{{glossary["AdminSpace"]}}</h2>
      <input type="text" id="kick_player_name" onchange="kickPlayer()" placeholder=''>
      <button id="kick_player_button" onclick="kickPlayer()">
        {{glossary["KickPlayer"]}}
      </button>
      <h2>{{glossary["Select"]}}</h2>
      <input type="search" id="search_select_questionary" placeholder="search" onkeyup="search('select')">
      <ul id="questionary_select_list"></ul>
    </div>

    <!-- Create -->
    <div id="create_div" class="nav_content" style="display: none;">
      <h1>{{glossary["Create"]}}</h1>
      <button id="create_questionary" onclick="createQuestionary()">{{glossary["CreateNewQuestionary"]}}</button>
      <h2>{{glossary["Edit"]}}</h2>
      <input type="search" id="search_edit_questionary" placeholder="search" onkeyup="search('edit')">
      <ul id="questionary_edit_list"></ul>
    </div>

    <!-- Edit -->
    <div id="edit_div" class="nav_content" style="display: none;">
      <h1>{{glossary["Edit"]}}</h1>
      <input type="text" id="edit_questionnaire_name" placeholder="Questionary Name" onchange="editQuestionaryName(this.value)">
      <h2>{{glossary["Questions"]}}</h2>
      <table class="questions_div">
        <colgroup>
          <col style="width: 70%;">
          <col style="width: 30%;">
        </colgroup>
        <tr>
          <th>
            <div id="dropbox"></div>
          </th>
          <th>
            <div id="questions_drawer"></div>
          </th>
        </tr>
      </table> 
      <button class="delete_quiz_button" onclick="deleteQuestionary()">{{glossary["DeleteQuestionnaire"]}}</button>
    </div>
    <div id="edit_popup_container">
      <div id="edit_popup">
        <div>
          <h1>{{glossary["Type"]}}</h1>
          <p id="type_p"></p>
          <h1>{{glossary["Duration"]}}</h1>
          <p id="duration_p"></p>
          <h1>{{glossary["Answers"]}}</h1>
          <p id="answer1_p"></p>
          <p id="answer2_p"></p>
          <p id="answer3_p"></p>
          <p id="answer4_p"></p>
        </div>
      </div>
    </div>
    <div style="display: none;" id="edit_question_div" class="nav_content">
      <h1>{{glossary["EditQuestion"]}}</h1>

      <h2>{{glossary["Type"]}}</h2>
      <select id="edit_question_type" onchange="editQuestionType()">
        <option value="uniqueanswer">{{glossary["UniqueAnswer"]}}</option>
        <option value="mcq">{{glossary["MCQ"]}}</option>
      </select>

      <h2>{{glossary["Duration"]}} (s)</h2>
      <input type="number" id="edit_question_duration" onchange="editQuestionDuration()" value="20">

      <h2>{{glossary["Question"]}}</h2>
      <p>{{glossary["LaTeXSupport"]}}</p>
      <div id="question_editor"></div>

      <h2>{{glossary["Answers"]}}</h1>
      <table>
        <tr>
          <td>
            <input id="edit_answer_input0" value="A">
            <svg width="30" height="30" id="edit_answer_svg0">
              <rect width="30" height="30"/>
            </svg>
          </td>
          <td>
            <input id="edit_answer_input1" value="B">
            <svg width="40" height="40" id="edit_answer_svg1">
              <circle cx="20" cy="20" r="15"/>
            </svg>
          </td>
        </tr>
        <tr>
          <td>
            <input id="edit_answer_input2" value="C">
            <svg width="40" height="40" id="edit_answer_svg2">
              <polygon points="18,5 35,35 2,35"/>
            </svg>
          </td>
          <td>
            <input id="edit_answer_input3" value="D">
            <svg width="40" height="40" id="edit_answer_svg3">
              <polygon points="20,2 24.4,14 39.2,14 27.2,22.8 31.6,36 20,28 8.4,36 12.8,22.8 0.8,14 15.6,14"/>
            </svg>
          </td>
        </tr>
      </table>

      <button class="apply-button" style="margin-top: 40px; margin-bottom: 50px; margin-left: 50px; width: calc(100% - 100px);">{{glossary["Apply"]}}</button>

    </div>

    <!-- Settings -->
    <div id="settings_div" class="nav_content" style="display: none;" >
      <h1>{{glossary["Settings"]}}</h1>
      <h2>{{glossary["Language"]}}</h2>
      <select id="language" onchange=changeLanguage()>
        <option value="en">🇬🇧 English</option>
        <option value="fr">🇫🇷 Français</option>
        <option value="es">🇪🇸 Español</option>
        <option value="it">🇮🇹 Italiano</option>
        <option value="de">🇩🇪 Deutsch</option>
      </select>
      <p style="margin-left: 50px; color: gray;">{{glossary["ChangeLanguageWillRefresh"]}}</p>
      <h2>{{glossary["DyslexicMode"]}}</h2>
      <button class={{"on" if settings["dyslexicMode"] else "off"}} id='dyslexicModeButton' onclick="editSettingsButton('dyslexicMode')">{{"ON" if settings["dyslexicMode"] else "OFF"}}</button>
      <h2>{{glossary["RandomOrder"]}}</h2>
      <button class={{"on" if settings["randomOrder"] else "off"}} id='randomOrderButton' onclick="editSettingsButton('randomOrder')">{{"ON" if settings["randomOrder"] else "OFF"}}</button>
      <h2>{{glossary["EndOnAllAnswered"]}}</h2>
      <button class={{"on" if settings["endOnAllAnswered"] else "off"}} id='endOnAllAnsweredButton' onclick="editSettingsButton('endOnAllAnswered')">{{"ON" if settings["endOnAllAnswered"] else "OFF"}}</button>
      <h2>{{glossary["AdminPassword"]}}</h2>
      <input type="password" id="new_password" placeholder="New Password">
      <input type="password" id="repeat_new_password" placeholder="Repeat New Password">
      <button class="apply-button" onclick="applyNewPassword()">{{glossary["Apply"]}}</button>
      <div style="height: 50px"></div>
    </div>

    <!-- Login -->
    <div id="login_div" class="nav_content" style="display: none;">
      <h1>{{glossary["Login"]}}</h1>
      <h2>{{glossary["Email"]}}</h2>
      <input type="email" id="login_email" placeholder="Email">
      <h2>{{glossary["Password"]}}</h2>
      <input type="password" id="login_password" placeholder="Password">
      <button id="login" onclick="loginPage()">{{glossary["Login"]}}</button>
      <p id="no_account" onclick="navigate(5)">{{glossary["DontHaveAccount"]}} <br> {{glossary["CreateAccount"]}}</p>
    </div>

    <!-- Signup -->
    <div id="signup_div" class="nav_content" style="display: none;">
      <h1>{{glossary["Signup"]}}</h1>
      <h2>{{glossary["Email"]}}</h2>
      <input type="email" id="signup_email" placeholder="exemple@adress.com">
      <h2>{{glossary["Password"]}}</h2>
      <input type="password" id="signup_password" placeholder="Password">
      <h2>{{glossary["ConfirmPassword"]}}</h2>
      <input type="password" id="signup_verify" placeholder="Confirm Password">
      <button id="create_account" onclick="signupPage()">{{glossary["CreateAccount"]}}</button>
    </div>

    <!-- Account -->
    <div id="account_div" class="nav_content" style="display: none;">
      <h1>Account</h1>
      <h2>Personnal Informations</h2>
      <h2>Reset Password</h2>
      <input type="password" id="new_password" placeholder="New Password">
      <input type="password" id="confirm_new_password" placeholder="Confirm Password">
      <button id="reset_password" onclick="resetPasswordPage()">Reset Password</button>
      <h2>Delet Account</h2>
      <p style="margin-left: 50px; color: gray;">Type your password to delete your account</p>
      <input type="password" id="password_delete_account" placeholder="Password">
      <button id="delete_account" onclick="deleteAccountPage()">Delete Account</button>
    </div>

    <script src="static/js/host-page.js"></script>
    <script src="static/js/host-page-create.js"></script>
  </body>
</html>
