<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kahiin</title>
    <link rel="stylesheet" href="static/css/common.css" media="all" />
    <link rel="stylesheet" href="static/css/landing-page.css" media="all" />
    <script src="/static/js/Socket/socket.js"></script>
    <script src="static/js/landing-page.js"></script>
    <link
      rel="icon"
      type="image/png"
      href="/static/icon/app-icon.png"
    />
  </head>
  <body id="body">
    <div id="main-container">
      <img src="/static/icon/app-icon.png" />
      <h1>kahiin</h1>

      <a href="host">{{glossary["Host"]}}</a>
      <a href="guest">{{glossary["Join"]}}</a>
      <a href="board">{{glossary["Board"]}}</a>
    </div>
  </body>
</html>
