<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kahiin</title>
    <link rel="stylesheet" href="static/css/common.css" media="all" />
    <link rel="stylesheet" href="static/css/landing-page.css" media="all" />
    <link
      rel="icon"
      type="image/png"
      href="/static/icon/app-icon-rounded.png"
    />
  </head>
  <body>
    <div class="main-container">
      <img src="/static/icon/app-icon.png" />
      <h1>kahiin</h1>

      <a href="host">Host</a>
      <a href="homepage">Join</a>
      <a href="board">Board</a>
    </div>
  </body>
</html>
