#body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

.progressbar-wrapper {
  background-color: #dfe6e9;
  color: white;
  border-radius: 15px;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 1s;
  opacity: 0;
}

.progressbar {
  background-color: var(--progress);
  color: white;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  background-color: #585858;
  width: 25px;
  transition: 1s;
  opacity: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 20px;
}

#form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
  z-index: 1;
}

#list {
  display: none;
  text-align: center;
  width: calc(100% - 400px);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
}
#list h1 {
  font-size: 50px;
}
#list ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  transition: 1s;
}
#list li {
  padding: 15px 20px;
  margin: 10px;
  background-color: #dfe6e9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  font-size: 20px;
  flex: 1 0 200px;
  max-width: 300px;
}

#error{
  display: none;
  color: red;
  text-align: center;
  margin-bottom: 0;
}

#passcode{
  margin-left: calc(50% - 126px) ;
  height: 50px;
  border-radius: 10px;
  border: solid 1px #bbbbbb;
  text-align: center;
  font-size: 20px;
  padding: 0;
  padding-top: 5px;
  width: 250px;
}

#submit{
  position: relative;
  background: light-dark(#ebebeb,#262626);
  display: block;
  width: 250px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  color: light-dark(black,white);
  text-align: center;
  font-size: 40px;  
  border-radius: 10px;
  box-shadow: 0px 5px light-dark(#888888,#000000);
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
}
#submit:hover{
  background: light-dark(#e5e5e5,#2c2c2c) ;
}
#submit:active{
  transform: translateX(-50%) translateY(5px);
  box-shadow: none;
}
#submit.dyslexic{
  font-size: 35px;
  padding: 0;
}

#qrcode{
  display: none;
  position : relative ;
  width: 400px;
  height: 400px;
  margin-left: calc(50% - 200px);
  image-rendering: pixelated;
}
@media (prefers-color-scheme: dark){#qrcode{filter:invert(.93)}}
#scan{
  display: none;
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
}
#title_player_list{
  margin-top: -50px;
}

#question{
  opacity: 0;
  background-color: #dfe6e9;
  border-radius: 15px;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 80px;
  bottom: 100%;
  margin: 0;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  color: black;
  text-align: center;
  font-size: 40px;
  transition: 1s;
  font-weight: normal;
  overflow: scroll;
  z-index: 1;
}

#question_number{
  opacity: 1;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 10px;
  margin: 0;
  padding-top: 15px;
  color: gray;
  text-align: center;
  font-size: 35px;
  transition: 1s;
}
#question_number.dyslexic{
  padding: 0;
}

#loader {
  width: 48px;
  height: 48px;
  border: 5px solid #68e0f8;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  animation: pulse 1s linear infinite;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
}
#loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #68e0f8;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}
#loader-text{
  display: none;
  position: absolute;
  left: 50%;
  top: calc(50% + 40px);
  transform: translate(-50%, -50%);
  text-align: center;
  color: gray;
  font-size: 20px;
}

#leaderboard-container {
  flex-direction: column;
  align-items: center;
}

#leaderboard_top {
  opacity: 0;
  background-color: #dfe6e9;
  border-radius: 15px;
  position: absolute;
  left: 30px;
  right: 51%;
  top: 30px;
  bottom: 30px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  color: black;
  text-align: center;
  font-size: 40px;
  transition: 1s;
  font-weight: normal;
}

#leaderboard-top-items li {
  background-color: #dfe6e9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  flex: 1 0 200px;
  padding-top : 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#leaderboard-top-items {
  list-style-type: none;
  font-size: 35px;
  padding-left: 15px;
  padding-right: 15px;
}

#promoted-list {
  opacity: 0;
  background-color: #dfe6e9;
  border-radius: 15px;
  position: absolute;
  right: 30px;
  left: 51%;
  top: 30px;
  bottom: 30px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  color: black;
  text-align: center;
  font-size: 40px;
  transition: 1s;
  font-weight: normal;
}

#promoted-list-items {
  list-style-type: none;
  font-size: 35px;
  padding-left: 15px;
  padding-right: 15px;
}

#promoted-list-items li {
  background-color: #dfe6e9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  flex: 1 0 200px;
  padding-top : 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
}

.score {
  color: #2d3436;
}

.arrow {
  color: green;
  font-weight: bold;
}
@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}

#answers_div{
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 110px;
  height: 200px;
  transition: 1s;
}
.answer-block svg{
  position: absolute;
  top: 25px;
  left: 30px;
}
.answer-block{
  position: absolute;
  width: calc(50% - 10px);
  height: 90px;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container {
  display: flex;
  align-items: flex-end;
}
.podium {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  align-items: flex-end;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  gap: 40px;
}

.podium__item {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(100px);
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
}

@keyframes slideUp {
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
  position: relative;
  transition: all 0.3s ease;
  width: 180px;
}

.podium__name {
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 90%;
}

.first::before {
  content: "🏆";
  position: absolute;
  top: -100px;
  font-size: 24px;
  animation: bounce 1s ease infinite;
}

.second::before {
  content: "🥈";
  position: absolute;
  top: -100px;
  font-size: 24px;
  animation: bounce 1s ease infinite;
}

.third::before {
  content: "🥉";
  position: absolute;
  top: -100px;
  font-size: 24px;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.podium .first {
  min-height: 300px;
  background: linear-gradient(180deg, #ffd267, #FBE870);
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 4px 15px rgba(251, 232, 112, 0.5);
}

.podium .second {
  min-height: 250px;
  background: linear-gradient(180deg, #bcd6ff 0%, #9ef 75%);
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 4px 15px rgba(153, 238, 255, 0.5);
}

.podium .third {
  min-height: 200px;
  background: linear-gradient(180deg, #cac53d 0%, #ABD95B 75%);
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 4px 15px rgba(171, 217, 91, 0.5);
}

.podium .fourth {
  min-height: 150px;
  background: linear-gradient(45deg, #9370DB, #ca9ee6);
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 4px 15px rgba(202, 158, 230, 0.5);
}

.podium .fifth {
  min-height: 100px;
  background: linear-gradient(45deg, #20B2AA, #81c8be);
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 4px 15px rgba(129, 200, 190, 0.5);
}

#question h1, #question h2, #question h3, #question h4, #question p, #question span{
  margin: 0;
}

.hljs{
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 0.5px solid #b7bbbd;
  border-radius: 15px;
  text-align: left;
  font-size: 25px;
  font-family: monospace;
  margin: 15px;
}
.hljs span{
  font-family: monospace;
}
pre code.hljs{
  padding: 40px;
  padding-right: 0;
  padding-top: 20px;
}