.progressbar-wrapper {
  background-color: #dfe6e9;
  color: white;
  border-radius: 15px;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 1s;
  opacity: 0;
}

.progressbar {
  background-color: var(--progress);
  color: white;
  padding: 1rem;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  background-color: #68e0f8;
  width: 25px;
  font-family: 'Digital Paper', sans-serif;
  transition: 1s;
  opacity: 0;
}

#form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
}
#list {
  display: none;
  position: absolute;
  display: grid;
}
#error{
  display: none;
  color: red;
  text-align: center;
  margin-bottom: 0;
}

#passcode{
  height: 50px;
  border-radius: 20px;
  border: solid 1px #bbbbbb;
  text-align: center;
  font-size: 30px;
  padding: 0;
  width: 250px;
}

#submit{
  position: relative;
  background: #ebebeb;
  display: block;
  width: 250px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  color: black;
  text-align: center;
  font-family: 'Digital Paper', sans-serif;
  font-size: 40px;
  border-radius: 20px;
  box-shadow: 0px 5px #888888;
  cursor: pointer;
  margin-top: 20px;
}
#submit:hover{
  background: #e5e5e5;
}
#submit:active{
  transform: translateX(-50%) translateY(5px);
  box-shadow: none;
}

#question{
  opacity: 0;
  background-color: #dfe6e9;
  border-radius: 15px;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  color: black;
  text-align: center;
  font-family: 'Digital Paper', sans-serif;
  font-size: 40px;
  transition: 1s;
}

#question_number{
  opacity: 1;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 145px;
  margin: 0;
  padding-top: 15px;
  color: gray;
  text-align: center;
  font-family: 'Digital Paper', sans-serif;
  font-size: 35px;
  transition: 1s;
}

#loader {
  width: 48px;
  height: 48px;
  border: 5px solid #68e0f8;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  animation: pulse 1s linear infinite;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
}
#loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #68e0f8;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

.leaderboard{
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
  background-color: #dfe6e9;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 80%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
}
@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}
