@font-face {
    font-family: "Digital Paper";
    src:
      local("Trickster"),
      url("/static/font/digital-paper.otf") format("opentype"),
}

*{
    font-family: monospace;
}

html, body{
    margin: 0;
    padding: 0;
}