@font-face {
    font-family: "Digital Paper";
    src:
      local("Trickster"),
      url("/static/font/digital-paper.otf") format("opentype"),
}
@font-face {
    font-family: "Open Dyslexic";
    src:
      local("Trickster"),
      url("/static/font/OpenDyslexic-Regular.otf") format("opentype"),
}
@font-face {
    font-family: "Cotham Sans";
    src:
      local("Trickster"),
      url("/static/font/CothamSans.otf") format("opentype"),
}
@font-face {
    font-family: "Bagnard";
    src:
      local("Trickster"),
      url("/static/font/Bagnard.otf") format("opentype"),
}

*{
    font-family: monospace;
}

html, body{
    margin: 0;
    padding: 0;
}