@font-face {
    font-family: "Digital Paper";
    src:
      url("/static/font/digital-paper.otf") format("opentype"),
}
@font-face {
    font-family: "Open Dyslexic";
    src:
      url("/static/font/OpenDyslexic-Regular.otf") format("opentype"),
}
@font-face {
    font-family: "Cotham Sans";
    src:
      url("/static/font/CothamSans.otf") format("opentype"),
}
@font-face {
    font-family: "Bagnard";
    src:
      url("/static/font/Bagnard.otf") format("opentype"),
}

*{
  font-family: 'Bagnard', sans-serif;
}

.dyslexic{
  font-family: 'Open Dyslexic', sans-serif;
}
ul.dyslexic button{
  font-family: 'Open Dyslexic', sans-serif;
  padding-top: 0;
  padding-bottom: 0;
}

html, body{
  margin: 0;
  padding: 0;
  line-height: 1;
}