#body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}

#form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: grid;
    z-index: 1;
}

#error{
    display: none;
    color: red;
    text-align: center;
    margin-bottom: 0;
}
  
#passcode{
    margin-left: calc(50% - 126px) ;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #bbbbbb;
    text-align: center;
    font-size: 20px;
    padding: 0;
    padding-top: 5px;
    width: 250px;
}

#submit{
    position: relative;
    background: light-dark(#ebebeb,#262626);
    display: block;
    width: 250px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    color: light-dark(black,white);
    text-align: center;
    font-size: 40px;  
    border-radius: 10px;
    box-shadow: 0px 5px light-dark(#888888,#000000);
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
}
#submit:hover{
    background: light-dark(#e5e5e5,#2c2c2c) ;
}
#submit:active{
    transform: translateX(-50%) translateY(5px);
    box-shadow: none;
}
#submit.dyslexic{
    font-size: 35px;
    padding: 0;
}

@media(min-width: 751px) {
    nav button {
        font-size: 115%;
        padding-left: 70px;
    }
    nav button img {left: 15px}
    nav {width:16%}
    .nav_content h1 {font-size: 50px}
    .nav_content h2 {font-size: 30px}
    .nav_content select, .nav_content button, .nav_content input {font-size: 20px}
}

@media(max-width: 1050px) {
    nav button {font-size: 75%}
}
@media(max-width: 750px) {
    nav button {
        font-size: 0px ;
        padding-left: 0px;
    }
    nav button img {left: calc(50% - 20px)}
    nav {width:16%}
    .nav_content h1 {font-size: 35px}
    .nav_content h2 {font-size: 25px}
    .nav_content select, .nav_content button, .nav_content input {font-size: 15px}
}
@media(max-width: 500px) {
    nav button img {left: calc(50% - 20px)}
    nav {width:80px}
}

nav{
    position: absolute;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: none;
}
@media (prefers-color-scheme: dark){nav{box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;}}
nav .header{
    background: #494949;
    height: 150px;
}
nav button{
    position: absolute;
    right: 0;
    left: 0;
    height: 80px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    background: light-dark(#f0f0f0,#0f0f0f);
}
nav button:hover{
    background: light-dark(#e8e8e8,#171717);
}
nav button:active{
    background: light-dark(#e0e0e0,#1f1f1f);
}
nav button.dyslexic{
    padding-bottom: 15px;
}
nav button img{
    position: absolute;
    top: 20px;
    height: 40px;
    width: 40px;
}
@media (prefers-color-scheme: dark){nav button img{filter:invert(1)}}

#error_div{
    transition: 0.5s ease-in-out;
    display: block;
    position:absolute;
    background: red;
    color: white;
    width: 700px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: calc(97%);
    top:10px;
    left: 58%;
    transform: translateX(-50%);
}

.nav_content{
    position: absolute;
    left: 16%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow-y: scroll;
}
.nav_content h1{
    padding-left: 50px;
    margin-top: 50px;
}
.nav_content h2{
    padding-left: 50px;
    margin-top: 50px;
    font-weight: normal;
}
.nav_content h3{
    text-align: center;
    margin : 0px ;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 25px;
}
.nav_content #no_account{
    text-align: center;
    color : light-dark(blue,#5555FF);
    margin-top: 50px;
    font-weight: normal;
    font-size:20px;
    text-decoration: underline;
}
.nav_content select, .nav_content button, .nav_content input{
    margin-left: 50px;
    width: calc(100% - 100px);

    border: solid .5px #a7a7a7;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.nav_content button{
    border: none;
    color: white
}
.nav_content button[disabled="true"]{
    background: light-dark(#e8e8e8,#171717) !important ;
    color: light-dark(white,#252525)!important ;
    cursor : not-allowed ;
}

/* ON */
.nav_content button.on{
    background: light-dark(#49cf38,#4ed83b);
}
.nav_content button.on:hover{
    background: light-dark(#47c037,#4cc93a);
}
/* OFF */
.nav_content button.off{
    background: light-dark(#cf3838,#de4141);
}
.nav_content button.off:hover{
    background: light-dark(#c03737,#cf4040);
}

#new_password.dyslexic{
    padding: 0;
    padding-left: 10px;
}
#repeat_new_password.dyslexic{
    padding: 0;
    padding-left: 10px;
}

.nav_content input{
    margin-bottom: 5px;
    cursor: text;
    box-sizing: border-box;
}
.nav_content .apply-button, .nav_content #next_question, .nav_content #show_leaderboard, .nav_content #get_spreadsheet, .nav_content .questionary, .nav_content #create_questionary, .nav_content #pass_question, .nav_content #pause_question, .nav_content #login,.nav_content #create_account{
    background: light-dark(#387fcf,#418bde);
    margin-bottom: 5px;
}
.nav_content .apply-button:hover, .nav_content #next_question:hover, .nav_content #show_leaderboard:hover, #get_spreadsheet:hover, .nav_content .questionary:hover, .nav_content #create_questionary:hover, .nav_content #pass_question:hover, .nav_content #pause_question:hover .nav_content #login:hover,.nav_content #create_account:hover{
    background: light-dark(#3473bb,#3d7fca);
}
.nav_content .apply-button.dyslexic{
    padding: 0;
    padding-left: 10px;
}

#in_game_div{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#language.dyslexic{
    padding: 0;
    padding-left: 10px;
}

.nav_content #kick_player_button{
    background: light-dark(#cf3838,#de4141);
}
.nav_content #kick_player_button:hover{
    background: light-dark(#c03737,#cf4040);
}
.nav_content #start_game{
    background: light-dark(#49cf38,#4ed83b);
}
.nav_content #start_game:hover{
    background: light-dark(#47c037,#4cc93a);
}

#questionary_select_list, #questionary_edit_list {
    padding-left: 0px;
}

#edit_questionnaire_name{
    border: none;
    padding: 0;
    font-size: 30px;
    padding-bottom: 5px;
    border-bottom: solid #d0d0d0 2px;
    border-radius: 0;
    background: none;
}
.delete_quiz_button{
    background: light-dark(#cf3838,#de4141);
    margin-top: 50px;
    margin-bottom: 50px;
}
.delete_quiz_button:hover{
    background: light-dark(#c03737,#cf4040);
}
.questions_div{
    margin-left: 50px;
    width: calc(100% - 100px);
}
.questions_div #dropbox{
    background: light-dark(#f4f4f4,#252525);
    height: 500px;
    overflow-y: scroll;
}
.questions_div #questions_drawer{
    background: light-dark(#e7e7e7,#383838);
    height: 500px;
    overflow-y: scroll;
}

.questions_div #dropbox .question{
    background: light-dark(white,#383838);
    color: light-dark(black,white);
    margin: 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    padding: 30px;
    cursor: move;
    position: relative;
}

.drawer-question {
    background-color: light-dark(white, #595959);
    color: light-dark(black, white);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 13px;
    padding-bottom: 10px;
    margin: 25px;
    cursor: move;
}
.drawer-question:hover {
    background-color: light-dark(#fdfdfd, #5d5d5d);
}
.drawer-question label {
    cursor: move;
}

.question-div {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.droppable-space {
    height: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.dragover{
    background: light-dark(#ececec,#595959);
}

.trash-button{
    width: 40px;
    position: absolute;
    top: 15px;
    right: 12px;
    cursor: pointer;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.3s;
}
.trash-button:hover{
    opacity: 1;
    filter: grayscale(0);
}