#body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}

#form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: grid;
    z-index: 1;
}

#error{
    display: none;
    color: red;
    text-align: center;
    margin-bottom: 0;
}
  
#passcode{
    margin-left: calc(50% - 126px) ;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #bbbbbb;
    text-align: center;
    font-size: 20px;
    padding: 0;
    padding-top: 5px;
    width: 250px;
}

#submit{
    position: relative;
    background: light-dark(#ebebeb,#262626);
    display: block;
    width: 250px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    color: light-dark(black,white);
    text-align: center;
    font-size: 40px;  
    border-radius: 10px;
    box-shadow: 0px 5px light-dark(#888888,#000000);
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
}
#submit:hover{
    background: light-dark(#e5e5e5,#2c2c2c) ;
}
#submit:active{
    transform: translateX(-50%) translateY(5px);
    box-shadow: none;
}
#submit.dyslexic{
    font-size: 35px;
    padding: 0;
}

@media(min-width: 751px) {
    nav button {
        font-size: 115%;
        padding-left: 70px;
    }
    nav button img {left: 15px}
    nav {width:16%}
    .nav_content h1 {font-size: 50px}
    .nav_content h2 {font-size: 30px}
    .nav_content select, .nav_content button, .nav_content input {font-size: 20px}
}

@media(max-width: 1050px) {
    nav button {font-size: 75%}
}
@media(max-width: 750px) {
    nav button {
        font-size: 0px ;
        padding-left: 0px;
    }
    nav button img {left: calc(50% - 20px)}
    nav {width:16%}
    .nav_content h1 {font-size: 35px}
    .nav_content h2 {font-size: 25px}
    .nav_content select, .nav_content button, .nav_content input {font-size: 15px}
}
@media(max-width: 500px) {
    nav button img {left: calc(50% - 20px)}
    nav {width:80px}
}

nav{
    position: absolute;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: none;
}
@media (prefers-color-scheme: dark){nav{box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;}}
nav .header{
    background: #494949;
    height: 150px;
}
nav button{
    position: absolute;
    right: 0;
    left: 0;
    height: 80px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    background: light-dark(#f0f0f0,#0f0f0f);
}
nav button:hover{
    background: light-dark(#e8e8e8,#171717);
}
nav button:active{
    background: light-dark(#e0e0e0,#1f1f1f);
}
nav button.dyslexic{
    padding-bottom: 15px;
}
nav button img{
    position: absolute;
    top: 20px;
    height: 40px;
    width: 40px;
}
@media (prefers-color-scheme: dark){nav button img{filter:invert(1)}}

#error_div, #success_div{
    transition: 0.5s ease-in-out;
    display: block;
    position: absolute;
    background: light-dark(#c03737,#cf4040);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    padding-bottom: 8px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.1em;
    top: 10px;
    left: 58%;
    transform: translateX(-50%);
}
#error_div.dyslexic, #success_div.dyslexic{
    padding-bottom: 12px;
}
#success_div{
    background: #32cd32;
}

.nav_content{
    position: absolute;
    left: 16%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow-y: scroll;
}
.nav_content h1{
    padding-left: 50px;
    margin-top: 50px;
}
.nav_content h2{
    padding-left: 50px;
    margin-top: 50px;
    font-weight: normal;
}
.nav_content h3{
    text-align: center;
    margin : 0px ;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 25px;
}
.nav_content #no_account{
    text-align: center;
    color: gray;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size:20px;
}
#create_account_button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    color: light-dark(black,white);
}

.nav_content select, .nav_content button, .nav_content input{
    margin-left: 50px;
    width: calc(100% - 100px);

    border: solid .5px #a7a7a7;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.nav_content select{
    border: none;
}
.nav_content button{
    border: none;
    color: white
}
.nav_content button[disabled="true"]{
    background: light-dark(#e8e8e8,#171717);
    color: light-dark(white,#252525);
    cursor : not-allowed;
}

/* ON */
.nav_content button.on{
    background: light-dark(#49cf38,#4ed83b);
}
.nav_content button.on:hover{
    background: light-dark(#47c037,#4cc93a);
}
/* OFF */
.nav_content button.off{
    background: light-dark(#cf3838,#de4141);
}
.nav_content button.off:hover{
    background: light-dark(#c03737,#cf4040);
}

#new_password.dyslexic{
    padding: 0;
    padding-left: 10px;
}
#repeat_new_password.dyslexic{
    padding: 0;
    padding-left: 10px;
}

.nav_content input{
    margin-bottom: 5px;
    cursor: text;
    box-sizing: border-box;
}
.nav_content .apply-button, #next_question, #show_leaderboard, #get_spreadsheet, .quiz, #create_quiz, #skip_question, #pause_question, #login, #create_account, #reset_password{
    background: light-dark(#387fcf,#418bde);
    margin-bottom: 5px;
}
.nav_content .apply-button:hover, #next_question:hover, #show_leaderboard:hover, #get_spreadsheet:hover, .quiz:hover, #create_quiz:hover,  #skip_question:hover, #pause_question:hover, #login:hover, #create_account:hover, #reset_password:hover{
    background: light-dark(#3473bb,#3d7fca);
}
.nav_content .delete-button{
    background: light-dark(#cf3838,#de4141);
    margin-bottom: 5px;
}
.nav_content .delete-button:hover{
    background: light-dark(#c03737,#cf4040);
}
.nav_content .apply-button.dyslexic{
    padding: 0;
    padding-left: 10px;
}
.nav_content #info{
    padding-left: 50px;
    font-weight: normal;
    font-size: 20px;
}

#in_game_div{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#language.dyslexic{
    padding: 0;
    padding-left: 10px;
}

#kick_player_button, #delete_account, #logout{
    background: light-dark(#cf3838,#de4141);
}
#kick_player_button:hover, #delete_account:hover, #logout:hover{
    background: light-dark(#c03737,#cf4040);
}
#start_game{
    background: light-dark(#49cf38,#4ed83b);
}
#start_game:hover{
    background: light-dark(#47c037,#4cc93a);
}

#quiz_select_list, #quiz_edit_list {
    padding-left: 0px;
}

#edit_quiz_name{
    border: none;
    padding: 0;
    font-size: 30px;
    padding-bottom: 5px;
    border-bottom: solid #d0d0d0 2px;
    border-radius: 0;
    background: none;
}
.delete_quiz_button{
    background: light-dark(#cf3838,#de4141);
    margin-top: 50px;
    margin-bottom: 50px;
}
.delete_quiz_button:hover{
    background: light-dark(#c03737,#cf4040);
}
.questions_div{
    margin-left: 50px;
    width: calc(100% - 100px);
}
.questions_div #dropbox{
    background: light-dark(#f4f4f4,#252525);
    height: calc(100vh - 400px);
    overflow-y: scroll;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.questions_div #questions_drawer{
    background: light-dark(#e7e7e7,#383838);
    height: calc(100vh - 535px);
    overflow-y: scroll;
    position: relative;
    padding: 20px;
    border-top-right-radius: 5px;
}
.questions_div #new_question_button {
    position: relative;
    left: 0;
    bottom: 0;
    height: 45px;
    margin: 25px;
    background: light-dark(#3473bb, #3d7fca);
    width: calc(100% - 50px);
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    z-index: 1;
    overflow: visible;
  }
.questions_div #new_question_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: 0 0 0 25px light-dark(#e7e7e7, #383838);
    z-index: -1;
}
.questions_div #new_question_button:hover{
    background: light-dark(#3e7ac8, #4784d7);
}

.question{
    background: light-dark(white,#383838);
    color: light-dark(black,white);
    max-height: calc(100vh - 600px);
    overflow-y: scroll;
    margin: 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    padding: 30px;
    cursor: move;
    position: relative;
    border-radius: 5px;
}
.question h1, .question h2, .question h3, .question p, .question blockquote p, .question ol, .question ul {
    padding: 0;
    margin: 5px;
}
.question blockquote p, .question ol li, .question ul li {
    width: fit-content;
    padding-right: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.question ol, .question ul {
    padding-left: 45px;
}
.question blockquote{
    margin-top: 5px;
    margin-bottom: 5px;
}
.question blockquote p {
    border-left: solid 3px #a7a7a7;
    padding-left: 20px;
}

.drawer-question {
    position: relative;
    background-color: light-dark(white, #595959);
    color: light-dark(black, white);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 13px;
    padding-bottom: 10px;
    margin: 5px;
    cursor: move;
    height: 23px;
    border-radius: 5px;
}
.drawer-question:hover {
    background-color: light-dark(#fdfdfd, #5d5d5d);
}
.drawer-question label {
    cursor: move;
}
.drawer-question button{
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    padding: 8px;
    background: light-dark(#3473bb,#3d7fca);
}
.drawer-question button:hover{
    background: light-dark(#3e7ac8, #4784d7);
}
.drawer-question button img{
    width: 100%;
    height: 100%;
}

.question-div {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.question-div colgroup{
    height: 100%;
}
.droppable-space {
    height: 25px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
}
.droppable-space p{
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
    color: gray;
    cursor: default
}
.dragover{
    background: light-dark(#ececec,#595959);
}

.trash-button, .barcode-button, .download-button {
    width: 40px;
    position: absolute;
    top: 15px;
    cursor: pointer;
    filter: grayscale(100%);
    opacity: 0.5;
}
.trash-button {
    right: 12px;
}
.barcode-button {
    right: 62px;
}
.download-button {
    right: 112px;
}
.trash-button:hover, .barcode-button:hover {
    opacity: 1;
    filter: grayscale(0);
}
.download-button:hover {
    opacity: 1;
    filter: hue-rotate(100deg) brightness(1.5);
}
.barcode-button:hover {
    filter: hue-rotate(200deg);
}
.trash-button:hover {
    filter: hue-rotate(-10deg);
}
@media (prefers-color-scheme: dark) {
    .trash-button, .barcode-button {
        filter: grayscale(100%) brightness(2);
        opacity: 1;
    }
    .download-button{
        filter: grayscale(100%) brightness(3);
    }
    .download-button:hover {
        filter: hue-rotate(100deg) brightness(2);
    }
}

#edit_popup_container{
    position: absolute;
    left: 16%;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}
#edit_popup{
    position: absolute;
    left: 100px;
    top: 100px;
    right: 100px;
    bottom: 100px;
    background: light-dark(#f0f0f0,#0f0f0f);
    border: solid 1px #a7a7a7;
    border-radius: 5px;
}
@media (prefers-color-scheme: dark){
    #edit_popup{
        opacity: 0.95;
    }
}
#edit_popup div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#edit_popup h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}
#edit_popup p{
    margin-top: 0;
    text-align: center;
}

#edit_popup div#answers_div{
    position: relative;
    width: fit-content;
}
#edit_popup div#answers_div p{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

#edit_question_div p{
    margin-left: 50px;
    width: calc(100% - 40px);
    margin-bottom: 0;
    color: gray;
}
.ql-toolbar{
    margin: 50px;
    margin-bottom: 0;
    margin-top: 10px;
}
#question_editor{
    padding: 40px;
    margin: 50px;
    margin-top: 0;
    height: calc(100% - 390px);
    font-size: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#question_editor h1, #question_editor h2, #question_editor h3, #question_editor p{
    color: light-dark(black,white);
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
#question_editor h1{
    font-size: 75px;
    height: 96px;
}
#question_editor h2{
    font-size: 65px;
    height: 72px;
}
#question_editor h3{
    font-size: 48px;
    height: 48px;
}
#question_editor p{
    font-size: 40px;
    height: 48px;
}
.ql-editor pre.ql-syntax{
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 0.5px solid #b7bbbd;
    text-align: left;
    font-size: 25px;
    font-family: monospace;
    margin: 15px;
}
.ql-editor blockquote, .ql-editor ol li, .ql-editor ul li{
    width: fit-content;
    padding-left: 20px;
    padding-right: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.ql-editor ol li, .ql-editor ul li{
    padding-right: 100px;
}

#edit_question_div table{
    width: calc(100% - 100px);
    margin-left: 50px;
    position: relative;
}
#edit_question_div table input{
    width: 100%;
    margin: 0;
    height: 50px;
    padding-left: 50px;
    border-radius: 0;
    transition: 0.2s;
}
#edit_question_div table svg{
    position: absolute;
    height: 50px;
}
#edit_question_div td{
    padding: 0;
}

#edit_answer_input0{
    border: solid thin light-dark(#ccc,#4F57B7);
}
#edit_answer_svg0{
    top: 12px; 
    left: 11px;
    fill: light-dark(#99eeff,#4F57B7);
}
#edit_answer_input1{
    border: solid thin light-dark(#ccc,#73C46C);
}
#edit_answer_svg1{
    top: 7px; 
    left: calc(50% + 4px);
    fill: light-dark(#ABD95B,#73C46C);
}
#edit_answer_input2{
    border: solid thin light-dark(#ccc,#AA3D94);
}
#edit_answer_svg2{
    top: 58px; 
    left: 7px;
    fill: light-dark(#BC5BD9,#AA3D94);
}
#edit_answer_input3{
    border: solid thin light-dark(#ccc,#B7844F);
}
#edit_answer_svg3{
    top: 59px; 
    left: calc(50% + 5px);
    fill: light-dark(#D9955B,#B7844F);
}

.ql-editor{
    overflow-x: hidden;
    overflow-y: scroll;
}

#correct_answers_inputs_div{
    transition: 0.4s;
}

.nav_content button{
    height: 37px;
}
.nav_content button.dyslexic{
    padding-top: 0;
}


.toggleSwitch {
    display: inline-block;
    position: relative;
    left: 50px;
    width: calc(100% - 100px);
    height: 39px;
    background: transparent;
    box-shadow:inset 0px 0px 0px 2px light-dark(#ddd,#333);
    border-radius: 5px;
    cursor: pointer;
}
  
.toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
  
.toggleSwitch a {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: light-dark(#ddd,#333);
    border-radius: 5px;
    transition: 0.3s ease;
}
  
.toggleSwitch p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: fit-content;
    padding: 0;
    margin: 0;
    text-align: center;
    text-align: center;
    color: light-dark(black,white);
}
  
.toggleSwitch .left-p {
    left: 0;
}
  
.toggleSwitch .right-p {
    left: 50%;
}
  
.toggleSwitch input:checked + a {
    left: 50%;
}

#kahiin_db_message_div img{
    position: absolute;
    left: 50%;
    top: calc(50% - 70px);
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
    height: 100px;
}
#kahiin_db_message_div button{
    position: absolute;
    left: 50%;
    top: calc(50% + 10px);
    transform: translateX(-50%) translateY(-50%);
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    box-shadow: 0 0 0 10px light-dark(white, #1c1b22);
    color: light-dark(black, white);
}
@media (prefers-color-scheme: dark){
    #kahiin_db_message_div img{
        filter: invert(1);
    }
}

#db_posted_quizzes_div, #db_posted_questions_div{
    background: light-dark(#f4f4f4,#252525);
    border-radius: 5px;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

.db_posted_div {
    margin-left: 50px;
    width: calc(100% - 100px);
}

.db_posted_div th {
    padding: 1px;
}

#db_quizzes_drawer_container, #db_questions_drawer_container {
    background: light-dark(#e7e7e7,#383838);
    height: 500px;
    overflow-y: scroll;
    position: relative;
    border-radius: 5px;
}

#db_quizzes_drawer, #db_questions_drawer {
    background: light-dark(#e7e7e7,#383838);
    overflow-y: scroll;
    position: relative;
    padding: 20px;
    border-radius: 5px;
}

#db_search_button{
    margin-top: 10px;
}
#db_search_button[disabled="true"]{
    background: light-dark(#8eb7e5, #2a5a8a);
    color: light-dark(white,grey);
}
#db_search_results_div{
    border: solid .5px #a7a7a7;
    border-radius: 5px;
    margin-top: 10px;
    height: 400px;
    margin-left: 50px;
    width: calc(100% - 100px);
    overflow-y: scroll;
}
#db_search_quizzes_div input, #db_search_quizzes_div div input, #db_search_questions_div input, #db_search_questions_div div input{
    height: 39px;
}
#db_search_quizzes_div div select.dyslexic, #db_search_quizzes_div input.dyslexic, #db_search_quizzes_div div input.dyslexic, #db_search_questions_div div select.dyslexic, #db_search_questions_div input.dyslexic, #db_search_questions_div div input.dyslexic{
    padding-top: 0;
    padding-bottom: 0;
}

.user_p{
    color: light-dark(black, white);
    margin-bottom: 2px;
    margin-left: 25px;
}
.user_p.dyslexic{
    margin-bottom: 5px;
}

#logout{
    position: fixed;
    top: 50px;
    right: 50px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0 0 0 10px light-dark(white, #1c1b22);
    margin-left: 0px;
}

#apply_user_infos_button[disabled="true"], #apply_user_infos_button[disabled="true"]:hover{
    background: light-dark(#e8e8e8,#171717);
    color: light-dark(white,#252525);
    cursor : not-allowed;
}