#body {
    display: none;
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}

#main-container{
    position: absolute;
    width: 400px;
    height: 750px;
    left: calc(50% - 200px);
    top: calc(50% - 400px);
}

#main-container img{
    width: 300px;
    height: 300px;
    margin-left: calc(50% - 150px);
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
@media (prefers-color-scheme: dark){#main-container img{box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;}}
#main-container h1{
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
}
#main-container a{
    background: light-dark(#ebebeb,#262626);
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: calc(50% - 150px);
    padding-top: 15px;
    padding-bottom: 10px;
    color: light-dark(black,white);
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px light-dark(#888888,#000000);
}
#main-container a:hover{
    background: light-dark(#e5e5e5,#2c2c2c);
}
#main-container a:active{
    transform: translateY(5px);
    box-shadow: none;
}
#main-container a.dyslexic{
    padding-top: 0;
    padding-bottom: 25px;
}

@media only screen and (max-height : 750px) {
    #main-container{
        /* height: 100%; */
        height: fit-content;
        position:fixed;
        margin-top: auto;
        transform: translateY(100px);
    }
    #main-container img{
        height: 250px;
        width: 250px;
        margin-top: 0px;
        margin-left: calc(50% - 125px);
    }
    #main-container h1{
        font-size: 50px;
    }
    #main-container a{
        height: 45px;
        font-size: 35px;
        width: 250px;
        margin-left: calc(50% - 125px);
        padding-bottom: 0;
    }
}

@media only screen and (max-width : 400px) {
    #main-container{
        width: 100%;
        left: 0;
    }
}